<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./css/classOfWeek.css">
  <link rel="stylesheet" href="/css/menuLateral.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>Aulas da Semana</title>
</head>

<body>

  <%- include('./partials/header') %>

  <main>
    <%- include('./partials/menu') %>
    <div class="semanas">
      <table aria-describedby="tabela-aulas">
        <thead>
          <tr>
            <th>Semana</th>
            <th>Matéria</th>
            <th>Andamento</th>
            <th>Período</th>
            <th>Comentários</th>
          </tr>
        </thead>

        <tbody>
          <% aulas.forEach(aula => { %>
          <tr class="conteudos">
            <td>
              <%= aula.semana %>
            </td>
            <td>
              <%= aula.materia %>
            </td>
            <td>
              <%= aula.status %>
            </td>
            <td>
              <%= aula.periodo %>
            </td>
            <td>
              <%= aula.observacao %>
            </td>
          </tr>
          <% }) %>

        </tbody>
      </table>
  </main>

  <%- include('./partials/footer') %>
</body>

</html>