<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/formularioTarefas.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/menuLateral.css">
  <link rel="stylesheet" href="/css/footer.css">

  <title>Tela de Tarefas</title>
</head>


<body>

  <%- include('./partials/header') %>

  <main>
    <%- include('./partials/menu') %>

    <div class="box">
      <form action="/aulas" method="post">
        <fieldset>
          <legend>
            <strong><u>Adicionando Aula:</u></strong>
          </legend>

          <label for="curso">Curso:</label>
          <select name="cursoId" id="curso">
            <option selected disabled>Selecione o curso</option>

            <% cursos.forEach(curso => { %>
            <option value="<%= curso.id%>"><%= curso.nome %></option>
            <% }) %>
          </select>

          <label for="materia">Matéria:</label>
          <input type="text" id="materia" name="materia" placeholder="Matéria desejada" required>

          <label>Semana:</label>

          <div>
            <input type="radio" id="Segunda" name="semana" value="Segunda" required>
            <label for="Segunda">Segunda-Feira.</label>
          </div>

          <div>
            <input type="radio" id="Terça" name="semana" value="Terça" required>
            <label for="Terça">Terça-Feira.</label>
          </div>

          <div>
            <input type="radio" id="Quarta" name="semana" value="Quarta" required>
            <label for="Quarta">Quarta-Feira.</label>
          </div>

          <div>
            <input type="radio" id="Quinta" name="semana" value="Quinta" required>
            <label for="Quinta">Quinta-Feira.</label>
          </div>

          <div>
            <input type="radio" id="Sexta" name="semana" value="Sexta" required>
            <label for="Sexta">Sexta-Feira.</label>
          </div>

          <label>Status do conteúdo:</label>

          <div>
            <input type="radio" id="Iniciando" name="status" value="Iniciando" required>
            <label for="Iniciando">Iniciando.</label>
          </div>

          <div>
            <input type="radio" id="Pendente" name="status" value="Pendente" required>
            <label for="Pendente">Pendente.</label>
          </div>

          <div>
            <input type="radio" id="concluido" name="status" value="concluido" required>
            <label for="concluido">Concluído.</label>
          </div>

          <label for="periodo">Selecione o período:</label>
          <select name="periodo" id="periodo">
            <option selected disabled>Selecione</option>
            <Option value="Manhã">Manhã: 08h às 12h</Option>
            <Option value="Tarde">Tarde: 13h às 17h</Option>
            <Option value="Noite">Noite: 18h às 22h</Option>
          </select>

          <label for="observacao">Observação:</label>
          <textarea name="observacao" id="observacao" cols="45" rows="5"></textarea>

          <button type="reset">Limpar Campos</button>
          <button type="submit">Enviar</button>
          
        </fieldset>
      </form>
    </div>
  </main>

  <%- include('./partials/footer') %>
</body>

</html>