<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" media="screen"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/menuLateral.css">
  <link rel="stylesheet" href="css/footer.css">

  <title>Perfil do Usuário</title>
</head>

<body>
  <%- include('./partials/header') %>

  <main>
    <%- include('./partials/menu') %>

    <div class="form-container">
      <form method="POST" class="form-style-1" action="/usuarios?_method=PUT">
        <div>
          <label>Nome Completo </label>
          <input type="text" name="nome" class="field-long" value="<%= aluno.nome %>" />
        </div>

        <div>
          <label>Email </label>
          <input type="email" name="email" class="field-long" value="<%= aluno.email %>" />
        </div>

        <div>
          <label>Endereço</label>
          <input type="text" name="logradouro" class="field-long" value="<%= aluno.logradouro %>" />
        </div>

        <div>
          <label>Cidade/Estado</label>
          <input type="text" name="cidade" class="field-divided" value="<%= aluno.cidade %>" />
          <input type="text" name="estado" class="field-divided" value="<%= aluno.estado %>" />
        </div>

        <button type="submit"> Salvar </button>

      </form>
    </div>
  </main>

  <%- include('./partials/footer') %>
</body>

</html>